@theme {
  --content-width-sm: var(--size-content-width-sm);
  --content-width-md: var(--size-content-width-md);
  --content-width-lg: var(--size-content-width-lg);
  --content-width-xl: var(--size-content-width-xl);
  --field-label-width-horizontal: 10rem;
}
