@theme {
  --color-text-default: var(--color-ink-900);
  --color-text-muted: var(--color-warm-900);
  --color-text-subtle: var(--color-warm-850);
  --color-text-inverse: var(--color-warm-0);

  --color-text-brand: var(--color-red-550);
  --color-text-accent: var(--color-orange-500);
  --color-text-danger: var(--color-red-600);
  --color-text-success: var(--color-green-800);
  --color-text-warning: var(--color-amber-800);
}
